/*mobile width: 320px | desktop width: 1080px*/
body, html{
    width: 100%;
    margin: 0;
    font-family: "Quicksand", "Quicksand Medium", "Open Sans", sans-serif;
    letter-spacing: 1px;
}

@media all and (min-width: 800px)
{
    /* For Large Screens */
    body{
 
    }
    div.polaroid {
      width: 24%;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 10px;
      margin: 3%;
    }

    div.polaroid#left {
        clear: both;
        float: left;
        margin-left: 8%;
    }
    div.polaroid#center{
        float:left;    
    }

    div.polaroid#right {
        float: right;
        margin-right: 8%;
    }
    
    div.container {
      text-align: left;
      border-radius: 10px;
      padding: 5% 10%;
    }
    
    p {
    margin: 0;
    font-size: 1.5vw;
    }

    h1 {
    margin: 0;
    font-size: 3vw;
    }
    
    .button {
	background-color:#ffffff;
	border-radius: 50px;
	border: 3px solid #18ab29;
    transition-duration: 0.2s;
	color:#0d8533;
	font-size:2vw;
	padding: 3% 5%;
	text-shadow:0px 1px 2px #44c767;
    float: right;
    }
}


@media all and (max-width: 800px)
{   /* For Small Screens */
    div.polaroid {
      width: 60%;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 10px;
      margin: 0% 20% 8%;
    }

    div.container {
      text-align: left;
      border-radius: 10px;
      padding: 3% 7%;
    }
    
    p {
    margin: 0;
    font-size: 3vw;
    }

    h1 {
    margin: 0;
    font-size: 5vw;
    }
    
    .button {
	background-color:#ffffff;
	border-radius: 100px;
	border: 3px solid #18ab29;
    transition-duration: 0.2s;
	color:#0d8533;
	font-size:3vw;
	padding: 3% 5%;
	text-shadow:0px 1px 2px #44c767;
    float: right;
    margin: 1%;
    letter-spacing: 3px;
}
    
}

img.thumb {
	border-radius: 10px;
    width: 100%;
}


.button:hover {
	background-color:#44c767;
    color: #ffffff;
}
.button:active {
	position:relative;
	top:1px;
}


#background {
    background-color: #53565f;
    background-image: url(images/lined.PNG);
    opacity: 0.8;
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 100%;
    margin: 0; 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    transition: 0.3s;
    
    display: none;
}

.infobox {
    background-color: #ffffff;
    position: fixed;
    opacity: 1;
    z-index: 3;
    height: 92%;
    width: 70%;
    margin: 3% 15%;
    border-radius: 40px;
    transition: 0.2s;
    
    display: none;
}