/*For small screens*/
div.polaroid {
    max-width: 400px;
    width: 80vw;
    flex:100%;
    background-color: #ffffff;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 4vh;
    margin-bottom: 2vh;
}

div.polaroid-tab {
    text-align: left;
    border-radius: 10px;
    padding: 3% 7%;
}

.polaroid img{
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    cursor: pointer;
}

.infobox {
    background-color: #ffffff;
    z-index: 3;
    height: 90vh;
    width: 90vw;
    padding: 30px 30px 95px;
    margin: 5vh auto;
    border-radius: 20px;
    display: block;
}

.infocontent {
    z-index: 4;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    font-size: 14.4px;
    display: none;
}

.infobox img{width: 150px;  float: right;}

#request {
    height: 40px;
    margin: 8px;
    float: left;
    font-size: 14.4px;
    line-height: 0;
    padding: 20px;
}

@media screen and (min-width: 600px) and (orientation: landscape) /* For Large Screens */
{   
    div.polaroid {
        flex: 32%;
        max-width: 300px;
        margin: 10px;
    }

    div.polaroid-tab {padding: 5% 10%;}
    #request {font-size: 18px;}
    .infobox {padding: 35pt 40pt 75pt;}
    
    .infobox img{
        width: 50%;
        max-width: 450px;
        margin-left: 10px;        
    }

}
