/*For small screens*/
div.polaroid {
    max-width: 100%;
    flex:100%;
    background-color: #ffffff;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 4%;
    margin-bottom: 2%;
}

div.polaroid-tab {
    text-align: left;
    border-radius: 10px;
    padding: 3% 7%;
    box-sizing: border-box;
}

.polaroid img{
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    cursor: pointer;
}

.infobox {
    background-color: #ffffff;
    z-index: 3;
    height: 90%;
    width: 90%;
    padding: 30px 30px 95px;
    margin: 25pt auto;
    border-radius: 20px;
    display: block;
    box-sizing: border-box;
}

.infocontent {
    z-index: 4;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: .9em;
    display: none;
}

.infobox img{display: none;}

#request {
    height: auto;
    margin: 8px;
    float: none;
    font-size: .9em;
    box-sizing: border-box;
    width: fit-content;
    line-height: 1;
    padding: 13px;
}

@media screen and (min-width: 600px) and (orientation: landscape) /* For Large Screens */
{   
    div.polaroid {
        flex: 32%;
        max-width: 260px;
        margin: 10px;
        box-sizing: border-box;
    }

    div.polaroid-tab {padding: 5% 10%;}
    
    #request {
        height: 40pt;
        padding: 18pt;
        margin: 5pt;
        margin-left: -5pt;
        float: left;
        font-size: 1.1em;
        box-sizing: border-box;
        line-height: 0;
    }
    
    .infobox {padding: 35pt 40pt 75pt;}
    
    .infobox img{
        width: 90%;
        max-width: 450px;
        margin: 0 auto;
        display: block;
        float: right;
    }
    .polaroid h1 {font-size: 2em;}

}
