/*For small screens*/
div.polaroid {
  width: 60%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin: 10% 20%;
}

div.polaroid-tab {
  text-align: left;
  border-radius: 10px;
  padding: 3% 7%;
  box-sizing: border-box;
  word-wrap: break-word;
}

.polaroid img{
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    cursor: pointer;
}

#background {
    background-color: rgb(83, 86, 95, 0.8);
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: none;
}

.infobox {
    background-color: #ffffff;
    z-index: 3;
    height: 90%;
    width: 90%;
    padding: 35pt 40pt 75pt;
    margin: 25pt auto;
    border-radius: 20px;
    display: block;
    box-sizing: border-box;
}

.infocontent {
    z-index: 4;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: .9em;
    display: none;
}

.infobox img{
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    display: block;
    float: right;
}

.close {
  color: #aaa;
  float: right;
  margin-top: -40pt;
  margin-bottom: -10pt;
  font-size: 35pt;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#request {
    height: 40pt;
    padding: 18pt;
    margin: 5pt;
    margin-left: -5pt;
    float: left;
    font-size: 1.1em;
    box-sizing: border-box;
}

@media screen and (min-width: 800px) and (orientation: landscape) /* For Large Screens */
{   
    div.polaroid {
        width: 29.33%;
        margin: 2%;
    }
    div.polaroid#left {
        clear: both; float: left;
    }
    div.polaroid#center{
        float:left;    
    }
    div.polaroid#right {
        float: right;
    }
    div.polaroid-tab {
        padding: 5% 10%;
        box-sizing: border-box;
    }

}