.header {
    width: 100%;
    background-color: #e8f6ce;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

 .header div.left {
    display: block; 
    position: relative;
    width: 100%;
    padding-top: 25px;
    text-align: center;
}
.header div.right{
    display: flex; 
    width: 100%;
    position: relative;
    z-index: 2;
    margin: 0;
}

.header a{
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 2% 0px;
    transition-duration: 0.3s;
    background-color: #fcfcfc;
    width: 20%;
    font-size: 1.7em;
}
.header a:hover, .header a:active {
    position: relative;
    background-color: #cfeacf;
    text-shadow:0px 1px 2px #44c767;
}
.header #active {
    position: relative;
    background-color: #cfeacf;
    text-shadow:0px 1px 2px #44c767;
}


.header h1 {
    font-family: "BlackJack", cursive;
    letter-spacing: 0px;
    font-size: 5.4em;
    margin: 0;
    line-height: 1;
    display:block;
}
.header p {
    margin: 0px;
    margin-top: -10px;
    display: inline-block;
    font-size: 1.5em;
}

@media screen and (min-width: 800px) and (orientation: landscape) /* For Large Screens */
{ .header {height: 100px;}
    
    .header h1 {
        font-size: 36pt;
        line-height: 1.1;
    }
    .header p {font-size: 1em;}

    .header a {
        top: -80px;
        padding: 80px 12px 20px;
        margin: 0;
        width: auto;
        height: 10px; 
        background-color: #fcfcfc;
        transition-duration: 0.3s;
        font-size: 1em;
    }
    .header a:hover, .header a:active {top:-60px; border-radius:10px;}
    .header a.first{border-bottom-left-radius: 10px;}
    .header a.last{border-bottom-right-radius: 10px;}
    .header #active {top:-60px; border-radius:10px;}

    .header div.left {
        padding-top: 20px;
        padding-left: 7%;
        text-align: left;
        
    }

    .header div.right{
        display: block;
        position: relative;
        top: -110px;
        height: 80px;
        padding-top: 20px;
        margin: 0;
        width: auto;
        text-align: right;
        margin-right: 4%;
    
    }
}