.gallery {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
}

/* 2 column for small screens*/
.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 0.25%;
    box-sizing: border-box;
}

.column img {
  margin-top: 2%;
  vertical-align: middle;
  width: 100%;
}

.column-wide {
    flex: 100%;
    max-width: 100%;
    padding: 0 0.5%;
    box-sizing: border-box;
}
.column-wide img {
  margin-top: 2%;
  vertical-align: middle;
  width: 100%;
}

.shadowbox{
    position: relative;
}
.overlay{
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, #000e 0%, #0002 100%);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    padding: 10% 8% 4%;
}

.overlay h1{
    font-size: 1.6em;
    font-weight: 600;
}


.shadowbox:hover .overlay{
    opacity: 1;
}
.shadowbox:hover {
    cursor: pointer
}


.tag {
    background-color:#efefef;
    border-radius: 5px;
    border: none;
    transition-duration: 0.2s;
    color:#888888;
    padding: 8px;
    font-size: .9em;
    margin: 2px;
    font-family: inherit;
    font-weight: 600;
}

.tag:hover {
    background-color:#ffffff;
    color: #0d8533;
    text-shadow:0px 1px 1px #44c767;
    cursor: pointer;
}
.tag:active {
	position:relative;
	top:1px;
    cursor: pointer;
}
.tag #active {
	background-color:#ffffff;
    color: #0d8533;
    text-shadow:0px 1px 1px #44c767;
}

#tags{
    color:#666; 
    font-size: 0.7em; 
    margin-bottom:5px;
}

.artbox {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 3% 0;
    margin: 0;
}

.art-content {
    width:100%;
    height: 80%;
    background-image: url(../portfolio/gallery/by_morning_light.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.art-info {
    position: relative;
    box-sizing: border-box;
    top: -20%;
    background: rgb(206,206,206);
    background: linear-gradient(0deg, rgba(206,206,206,1) 50%, rgba(206,206,206,.85) 75%, rgba(206,206,206,0) 100%);
    color: #121212;
    width: 100%;
    height: 45%;
    padding: 3.5%;
    overflow-x: hidden;
    overflow-y: auto;
}

#desc {
    font-size: .8em;
}


/* Responsive layout - 4 columns for 600px+ */
@media (min-width: 600px) and (orientation: landscape){
  
    .column {
      flex: 25%;
      max-width: 25%;
    }
    
    .column-wide {
        flex: 50%;
        max-width: 50%;
        padding: 0 0.25%;
        box-sizing: border-box;
    }
    
    
    .tag {font-weight: 400;}
    
    #desc {font-size: inherit;}
    
    .artbox {
        box-sizing: border-box;
        width: 90%;
        height: 100%;
        padding: 3% 0;
        margin: 0 5%;
    }

    .art-info {
        position: relative;
        box-sizing: border-box;
        top: -6%;
        width: 112%;
        height: 41%;
        margin: 0 -6%;
        padding: 3.5%;
        overflow-x: hidden;
        overflow-y: auto;
    }
}
