.gallery {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
}

/* 2 column for small screens*/
.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 0.25%;
    box-sizing: border-box;
}

.column img {
  margin-top: 2%;
  vertical-align: middle;
  width: 100%;
}

.column-wide {
    flex: 100%;
    max-width: 100%;
    padding: 0 0.5%;
    box-sizing: border-box;
}
.column-wide img {
  margin-top: 2%;
  vertical-align: middle;
  width: 100%;
}

.shadowbox{
    position: relative;
}
.overlay{
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    padding: 10% 8% 4%;
}


.shadowbox:hover .overlay{
    opacity: 1;
    cursor: pointer;
}

.tag {
    background-color:#efefef;
    border-radius: 15px;
    border: none;
    transition-duration: 0.2s;
    color:#888888;
    padding: 15px;
    margin: 5px;
    font-family: inherit;
    font-weight: 600;
    font-size: 2em;
    box-sizing: border-box;
}

.tag:hover {
    background-color:#ffffff;
    color: #0d8533;
    text-shadow:0px 1px 1px #44c767;
    cursor: pointer;
}
.tag:active {
	position:relative;
	top:1px;
    cursor: pointer;
}
.tag #active {
	background-color:#ffffff;
    color: #0d8533;
    text-shadow:0px 1px 1px #44c767;
}

.artbox {
    box-sizing: border-box;
    width: 90%;
    height: 100%;
    padding: 3% 0;
    margin: 0 5%;
}

.art-content {
    width:100%;
    height: 80%;
    background-image: url(../portfolio/gallery/by_morning_light.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.art-info {
    position: relative;
    box-sizing: border-box;
    top: -6%;
    background: rgb(206,206,206);
    background: linear-gradient(0deg, rgba(206,206,206,1) 50%, rgba(206,206,206,.85) 75%, rgba(206,206,206,0) 100%);
    color: #121212;
    width: 111%;
    height: 41%;
    margin: 0 -5%;
    padding: 3.5%;
}

/* Responsive layout - 4 columns for 800px+ */
@media (min-width: 800px) and (orientation: landscape){
  
    .column {
      flex: 25%;
      max-width: 25%;
    }
    
    .column-wide {
        flex: 50%;
        max-width: 50%;
        padding: 0 0.25%;
        box-sizing: border-box;
    }
    .overlay h1{
        font-size: 2.2vw;
        font-weight: 600;
    }   
    
    .tag {
        border-radius: 5px;
        padding: 8px;
        margin: 5px;
        font-weight: 400;
        font-size: 1em;
    }
}
