div.charWidget {
    min-width: 224px;
    min-height: 180px;
    width: 70vw;
    height: 110vw;
    background-color: #fff;
    box-shadow: 0 4px 6px 0 #0003, 0 6px 10px 0 #0003;
    border-radius: 10px;
    margin: 1.5vh;
    display: block;
    position: relative;
    z-index: 1;
}

.charWidget a { position: absolute; bottom: 18px; right: 24px; }
.charWidget h3 {font-size: 1.2em; margin: 2px 0 14px;}
.charWidget p {font-size: 12px}

.charWidget .contentTab {
    padding: 10px;
    height: calc(48vw - 40px);
    overflow: auto;
}


.charWidget img.avatar{
	border-radius: 10px;
    width: 100%;
    height: 70vw;
}

.charWidget img.thumb{
	border-top-left-radius: 10px;
    width: 150px;
    height: 150px;
}

.charWidget .thumbBar {
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    height: 150px;
    justify-content: center;
    display:flex;
}

.charWidget .overlay {
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    background: #161616ec;
    color: #fff;
    width: 100%;
    height: 0;
    transition: .5s ease;
    opacity: 0;
    padding: 10% 8% 4%;
    font-weight: 600;
    box-sizing: border-box;
    z-index: -1;
    overflow: auto;
}

@media (min-width: 600px) and (orientation: landscape){
    div.charWidget{
        min-width: 480px;
        max-width: 720px;
        min-height: 300px;
        width: 24vw;
        height: 16vw;

    }
    .charWidget h3 {font-size: 1.4em; margin: 10px 0 20px;}
    .charWidget p {font-size: inherit;}
    .charWidget img.avatar {
        min-height: 300px;
        min-width: 300px;
        width: 16vw;
        height: 16vw;
    }
    
    .charWidget .contentTab {
        height: calc(16vw - 40px);
        min-height: 260px;
    }
    .charWidget .overlay {
        overflow: hidden;
    }
    
}

